__pycache__
*.py[cod]
*.pyo
*.pyd

.venv
venv
env

.pytest_cache
.coverage
htmlcov
pytest.ini
requirements-dev.txt
tests
.mypy_cache
.ruff_cache

.git
.gitignore

.env
.env.*
firebase-service-account*.json

.vscode
.idea

*.log
